/* distributor.css */

.distributor-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.slideshow-container {
  margin: 0 20px;
  padding: 0 20px;
  font-size: 15px;
}

.distributor-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 240px;
}

.distributor-name {
  color: #007bff;
  margin-top: 0;
  margin-bottom: 10px;
}

.details p {
  margin: 5px 0;
}

.details strong {
  font-weight: bold;
  margin-right: 5px;
}
/* distributor.css */

.heading {
  margin-bottom: 10px;
}

.slideshow-container {
  margin: 0 auto;
  padding: 0 20px;
}

.slick-slide {
  padding: 0 10px; /* Add padding here to create space between slides */
}

.distributor-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;

}

.distributor-name {
  color: #007bff;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.details p {
  margin: 5px 0;
}

.details strong {
  font-weight: bold;
  margin-right: 5px;
}

@media (max-width: 870px) {
  .slideshow-container {

    font-size: 13px;
  }
}