.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 20px;
  padding: 0;
  cursor: pointer;
}

img, svg {
  vertical-align: middle;
  height: 50px;
}

.svg-inline--fa {
  padding-left: 16px;
}

.navbar-nav li {
  margin-right: 30px; /* Adjust margin between nav items */
}

.navbar-nav li:last-child {
  margin-right: 0; /* Remove margin from last nav item */
}

.navbar-nav li a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  font-weight: bold; /* Make links bold */
  transition: color 0.3s ease; /* Smooth transition for link color change */
}

.navbar-nav li a:hover {
  color: #c47009; /* Change link color on hover */
}

/* Media query for screens smaller than 780px */
/* Media query for screens smaller than 780px */
@media (max-width: 780px) {
  .header{
    padding-top:20px;
  }
  .navbar {
    display: none; /* Hide the navbar by default on small screens */
    flex-direction: column;
    position: absolute;
    top: calc(100% + 0px);
    right: 0;
    width: 100%;
    background-color: #c47009;
    color: white;
    border-top: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
    z-index: 100;
    padding: 0;
  }

  .navbar-nav {
 
    display: flex;
    flex-direction: column;
    font-size: 20px;
    --bs-nav-link-color: white;
  }

  .navbar.open {
    display: flex; /* Show the navbar when open */
  }

  .mobile-nav-toggle {
    display: block; /* Show the toggle button */
    position: absolute; /* Position toggle button */

    right: 15px; /* Adjust right position */
  }
  
  .navbar-nav li {
    flex-direction: column;
    margin-bottom: 10px; /* Reduce margin between nav items */
  }
  
}

