/* body{
  background-color: #777;
} */
.Eventspage {
  text-align: center;
  
}

.container1 {
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1ee7e0;
}

.breadcrumbs {
  margin-top: 20px;
  text-align:start;
}

.back-to-home {
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-link {
  font-size: 16px;
  text-decoration: none;
  color: #555;
}

.separator {
  margin: 0 5px;
  color: #777;
}

.message {
  border: 1px solid black;
  font-size: 18px;
  margin-top: 20px;
  color: #000205;
}
