/* ProductSlider.css */

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px; /* Limiting maximum width to 800px */
    margin: 0 auto; /* Center the carousel */
    overflow: hidden; /* Ensure overflow is hidden */
  }
  
  .carousel-content {
    display: flex;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    z-index: 1; /* Ensure buttons are above cards */
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .card {
    width: calc(100% / 4 - 20px); /* Adjusted width to accommodate 4 cards */
    margin: 0 10px;
    border-radius: 8px;
    overflow: hidden; /* Ensure images don't overflow */
    position: relative; /* Positioning for description */
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the entire space */
  }
  
  .card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.7
    ); /* Semi-transparent background for description */
    color: #fff;
    padding: 10px;
    font-size: 14px;
  }
  